<?xml version="1.0"?>
<config>
    <modules>
        <Simi_Simipwa>
            <version>0.1.4</version>
        </Simi_Simipwa>
    </modules>
    <frontend>
        <routers>
            <simipwa>
                <use>standard</use>
                <args>
                    <module>Simi_Simipwa</module>
                    <frontName>simipwa</frontName>
                </args>
            </simipwa>
        </routers>
        <layout>
            <updates>
                <simipwa>
                    <file>simipwa.xml</file>
                </simipwa>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <simi_simipwa_controller_action_predispatch>
                        <class>simipwa/simiobserver</class>
                        <method>controllerActionPredispatch</method>
                    </simi_simipwa_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Simi_Simipwa before="Mage_Adminhtml">Simi_Simipwa_Adminhtml</Simi_Simipwa>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <simipwa>
                    <file>simipwa.xml</file>
                </simipwa>
            </updates>
        </layout>
        <translate>
            <modules>
                <Simi_Simipwa>
                    <files>
                        <default>Simi_Simipwa.csv</default>
                    </files>
                </Simi_Simipwa>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <simipwa>
                <class>Simi_Simipwa_Model</class>
                <resourceModel>simipwa_mysql4</resourceModel>
            </simipwa>
            <simipwa_mysql4>
                <class>Simi_Simipwa_Model_Mysql4</class>
                <entities>
                    <agent>
                        <table>simipwa_agent</table>
                    </agent>
                    <message>
                        <table>simipwa_message</table>
                    </message>
                    <customermap>
                        <table>simipwa_social_customer_mapping</table>
                    </customermap>
                    <tracking>
                        <table>simipwa_tracking</table>
                    </tracking>
                </entities>
            </simipwa_mysql4>
        </models>
        <resources>
            <simipwa_setup>
                <setup>
                    <module>Simi_Simipwa</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simipwa_setup>
            <simipwa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simipwa_write>
            <simipwa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simipwa_read>
        </resources>
        <blocks>
            <simipwa>
                <class>Simi_Simipwa_Block</class>
            </simipwa>
        </blocks>
        <helpers>
            <simipwa>
                <class>Simi_Simipwa_Helper</class>
            </simipwa>
        </helpers>
        <events>
            <simi_simiconnector_model_server_initialize>
                <observers>
                    <simi_simiconnector_model_server_initialize_simipwa>
                        <type>singleton</type>
                        <class>simipwa/simiobserver</class>
                        <method>simiSimiconnectorModelServerInitialize</method>
                    </simi_simiconnector_model_server_initialize_simipwa>
                </observers>
            </simi_simiconnector_model_server_initialize>
            <simiconnector_get_storeview_info_after>
                <observers>
                    <simiconnector_get_storeview_info_after_simipwa>
                        <type>singleton</type>
                        <class>simipwa/simiobserver</class>
                        <method>simiPwaChangeStoreView</method>
                    </simiconnector_get_storeview_info_after_simipwa>
                </observers>
            </simiconnector_get_storeview_info_after>
            <admin_system_config_changed_section_simipwa>
                <observers>
                    <simiconnector_get_storeview_info_after_simipwa>
                        <type>singleton</type>
                        <class>simipwa/simiobserver</class>
                        <method>changeFileManifest</method>
                    </simiconnector_get_storeview_info_after_simipwa>
                </observers>
            </admin_system_config_changed_section_simipwa>
        </events>
    </global>
    <default>
        <simipwa>
            <general>
                <pwa_enable>0</pwa_enable>
            </general>
            <notification>
                <enable>1</enable>
                <logo>https://www.simicart.com/skin/frontend/default/simicart2.0/css/2017/images/icon-logo.png</logo>
            </notification>
            <manifest>
                <enable>1</enable>
                <name>SimiCart PWA | Progressive Web App</name>
                <short_name>SimiCart PWA</short_name>
                <logo>https://www.simicart.com/skin/frontend/default/simicart2.0/css/2017/images/icon-logo.png</logo>
                <theme_color>FDA343</theme_color>
            </manifest>
            <cache_api>
                <enable>1</enable>
                <home_api>1</home_api>
                <storeview_api>1</storeview_api>
            </cache_api>
            <switch_version>
                <enable>0</enable>
                <btn_text>Switch to PWA version >></btn_text>
                <btn_background_color>FDA343</btn_background_color>
            </switch_version>
        </simipwa>
    </default>
</config>