<?xml version="1.0"?>
<config>
    <tabs>
        <Simi translate="label">
            <label>Simi Extension</label>
            <sort_order>400</sort_order>
        </Simi>
    </tabs>

    <sections>
        <simipwa translate="label" module="simipwa">
            <class>separator-top</class>
            <label>Simicart Progessive Web App</label>
            <tab>Simi</tab>
            <frontend_type>text</frontend_type>
            <sort_order>299</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Advanced PWA Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pwa_enable translate="label">
                            <label>Enable PWA</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>99</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Contact support@simicart.com for PWA building</comment>
                        </pwa_enable>
                        <pwa_main_url_site translate="label">
                            <label>Enable Redirection</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>199</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                Yes : enable Build Live PWA. No : enable Build Sandbox PWA.
                                Redirect mobile users to your PWA. (Please click Build PWA after Save)
                            </comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </pwa_main_url_site>
                        <pwa_mobile_only translate="label">
                            <label>Mobile Filter</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>210</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Only show PWA for mobile user</comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </pwa_mobile_only>
                        <dynamic_rendering translate="label">
                            <label>Enable Dynamic Rendering</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>220</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Return Rendertron result for Search Engine bots</comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </dynamic_rendering>
                        <pwa_redirect_ips translate="label">
                            <label>PWA Redirect IP(s)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>299</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                Separated by comma, Users with IP listed above would be redirected. Leave this empty to redirect ALL users
                            </comment>
                        </pwa_redirect_ips>
                        <pwa_excluded_paths translate="label">
                            <label>PWA Excluded Paths</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>399</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Separated by comma, urls that contain any of the keys above would be excluded from
                                Web App. Eg: checkout/onepage
                            </comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </pwa_excluded_paths>
                        <logo_homepage translate="label">
                            <label>PWA Logo Url (png)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>499</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>PWA Logo Homepage</comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </logo_homepage>
                        <splash_img translate="label">
                            <label>PWA Splash Image Url (png)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>500</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>PWA Splash Screen</comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </splash_img>
                        <favicon translate="label">
                            <label>PWA Favicon Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>599</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </favicon>
                        <sync_site_url translate="label">
                            <label>Action</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>simipwa/adminhtml_system_config_form_syncbutton</frontend_model>
                            <sort_order>699</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                If change config , Please click Build PWA after Save
                            </comment>
                        </sync_site_url>
                        <ga_token_key translate="label">
                            <label>Google Analytics Tracking ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>799</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ga_token_key>
                        <meta_title>
							<label>Meta title</label>
							<frontend_type>text</frontend_type>
							<sort_order>819</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								Use this to add app meta title.
							</comment>
						</meta_title>
						<meta_description>
							<label>Meta description</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>829</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>
								Use this to add app meta description.
							</comment>
						</meta_description>
                        <custom_head>
                            <label>Custom Head</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>899</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                Use this to add your custom content to head tag
                            </comment>
                        </custom_head>
                        <footer_html translate="label">
                            <label>Custom Footer HTML</label>
                            <frontend_type>editor</frontend_type>
                            <frontend_model>simipwa/adminhtml_system_config_editor</frontend_model>
                            <sort_order>999</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </footer_html>
                        <dashboard_url translate="label">
                            <label>Dashboard URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1199</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Use for dashboard configuration getting on Building and PWA opening. By default, it's https://www.simicart.com</comment>
                        </dashboard_url>
                        <dashboard_token_key translate="label">
                            <label>Dashboard Token Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1299</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If it's empty, we are going to use token key from Simicart Connector</comment>
                        </dashboard_token_key>
                        <build_time>
                            <label>Last Build Live Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>680</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                Date time
                            </comment>
                        </build_time>
                        <build_time_sandbox>
                            <label>Last Build Sandbox Time</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>670</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                Date time
                            </comment>
                        </build_time_sandbox>
                    </fields>
                </general>
                <notification>
                    <label>Push Notification and Offline Mode</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable Chrome Notification for Website</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <logo translate="label">
                            <label>Notification Icon Url (png)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </logo>
                    </fields>
                </notification>
                <manifest>
                    <label>Add to Home Screen Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <name translate="label">
                            <label>App Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </name>
                        <short_name translate="label">
                            <label>App Short Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </short_name>
                        <logo translate="label">
                            <label>Icon URL (png)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Image Size : 512x512 | 384x384 | 256x256</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </logo>
                        <theme_color>
                            <label>Theme Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate> <!-- This is important -->
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </theme_color>
                        <background_color>
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate> <!-- This is important -->
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </background_color>
                    </fields>
                </manifest>
                <preload_config>
                    <label>Preload Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <main_js translate="label">
                            <label>Main JS</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>simipwa/system_main</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </main_js>
                        <homepage translate="label">
                            <label>Home Page</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>simipwa/system_homepage</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </homepage>
                        <product_list translate="label">
                            <label>Product List Page</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>simipwa/system_list</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </product_list>
                        <product_detail translate="label">
                            <label>Product Detail Page</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>simipwa/system_product</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </product_detail>
                    </fields>
                </preload_config>
                <upload_package>
                    <label>Upload PWA Package</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_live_package translate="label">
                            <label>Use Uploaded package file for Live App</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable_live_package>
                        <live_package translate="label tooltip comment">
                            <label>Upload PWA Packge file </label>
                            <comment></comment>
                            <frontend_type>file</frontend_type>
                            <sort_order>10</sort_order>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">simi/pwa/package/live</upload_dir>
                            <base_url type="media" scope_info="1">admin-config-uploads</base_url>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </live_package>
                        <enable_sandbox_package translate="label">
                            <label>Use Uploaded package file for Sandbox App</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable_sandbox_package>
                        <sandbox_package translate="label tooltip comment">
                            <label>Upload PWA Packge file sandbox</label>
                            <comment></comment>
                            <frontend_type>file</frontend_type>
                            <sort_order>30</sort_order>
                            <backend_model>adminhtml/system_config_backend_file</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">simi/pwa/package/sandbox</upload_dir>
                            <base_url type="media" scope_info="1">admin-config-uploads</base_url>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sandbox_package>
                        <use_json_config translate="label">
                            <label>Use JSON Config</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </use_json_config>
                        <json_config_data translate="label">
                            <label>JSON Config Data</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </json_config_data>
                    </fields>
                </upload_package>
                <!-- <switch_version>
                    <label>Switch Website Version Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <btn_text>
                            <label>Button Text</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                            <comment>
                                Button show in website version to switch pwa version
                            </comment>
                        </btn_text>
                        <btn_text_color>
                            <label>Button Text Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </btn_text_color>
                        <btn_background_color>
                            <label>Button Background Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate> 
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </btn_background_color>
                        <btn_css>
                            <label>Button Custom Css</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </btn_css>
                    </fields>
                </switch_version> -->
            </groups>
        </simipwa>
    </sections>
</config>