<?xml version="1.0"?>
<config>
    <tabs>
        <Simi translate="label">
            <label>Simi Extension</label>
            <sort_order>400</sort_order>
        </Simi>
    </tabs>

    <sections>
        <simipwa translate="label" module="simipwa">
            <class>separator-top</class>
            <label>Simicart Progessive Web App</label>
            <tab>Simi</tab>
            <frontend_type>text</frontend_type>
            <sort_order>299</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Advanced PWA Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pwa_enable translate="label">
                            <label>Enable PWA</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>99</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Contact support@simicart.com for PWA building</comment>
                        </pwa_enable>
                        <pwa_main_url_site translate="label">
                            <label>Enable Redirection</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>199</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                Redirect mobile users to your PWA. (Please click Build PWA after Save)
                            </comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </pwa_main_url_site>
                        <!--<pwa_url translate="label">-->
                        <!--<label>PWA Page URL</label>-->
                        <!--<frontend_type>text</frontend_type>-->
                        <!--<sort_order>20</sort_order>-->
                        <!--<show_in_default>1</show_in_default>-->
                        <!--<show_in_website>1</show_in_website>-->
                        <!--<show_in_store>1</show_in_store>-->
                        <!--<comment></comment>-->
                        <!--<depends>-->
                        <!--<pwa_enable>1</pwa_enable>-->
                        <!--<pwa_main_url_site>0</pwa_main_url_site>-->
                        <!--</depends>-->
                        <!--</pwa_url>-->
                        <pwa_redirect_ips translate="label">
                            <label>PWA Redirect IP(s)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>299</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>
                                Separated by comma, Users with IP listed above would be redirected. Leave this empty to redirect ALL users
                            </comment>
                        </pwa_redirect_ips>
                        <pwa_excluded_paths translate="label">
                            <label>PWA Excluded Paths</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>399</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Separated by comma, urls that contain any of the keys above would be excluded from
                                Web App. Eg: checkout/onepage
                            </comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </pwa_excluded_paths>
                        <logo_homepage translate="label">
                            <label>PWA Logo Url (png)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>499</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>PWA Logo Homepage</comment>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </logo_homepage>
                        <favicon translate="label">
                            <label>PWA Favicon Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>599</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <pwa_enable>1</pwa_enable>
                            </depends>
                        </favicon>
                        <!--<sync_sw translate="label">-->
                        <!--<label>Sync Service Worker</label>-->
                        <!--<frontend_type>button</frontend_type>-->
                        <!--<frontend_model>simipwa/adminhtml_system_config_form_syncSW</frontend_model>-->
                        <!--<sort_order>200</sort_order>-->
                        <!--<show_in_default>1</show_in_default>-->
                        <!--<show_in_website>1</show_in_website>-->
                        <!--<show_in_store>1</show_in_store>-->
                        <!--<comment></comment>-->
                        <!--<depends>-->
                        <!--<pwa_enable>1</pwa_enable>-->
                        <!--</depends>-->
                        <!--</sync_sw>-->
                        <sync_site_url translate="label">
                            <label>Action</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>simipwa/adminhtml_system_config_form_syncbutton</frontend_model>
                            <sort_order>699</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                If change config , Please click Build PWA after Save
                            </comment>
                        </sync_site_url>
                        <ga_token_key translate="label">
                            <label>Google Analytics Token Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>799</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ga_token_key>
                        <custom_head>
                            <label>Custom Head</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>899</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                Use this to add your custom content to head tag
                            </comment>
                        </custom_head>
                        <footer_html translate="label">
                            <label>Custom Footer HTML</label>
                            <frontend_type>editor</frontend_type>
                            <frontend_model>simipwa/adminhtml_system_config_editor</frontend_model>
                            <sort_order>999</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </footer_html>
                    </fields>
                </general>
                <notification>
                    <label>Push Notification and Offline Mode</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable Chrome Notification for Website</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>40</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <logo translate="label">
                            <label>Notification Icon Url (png)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </logo>
                    </fields>
                </notification>
                <manifest>
                    <label>Add to Home Screen Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <name translate="label">
                            <label>App Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </name>
                        <short_name translate="label">
                            <label>App Short Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </short_name>
                        <logo translate="label">
                            <label>Icon URL (png)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Image Size : 512x512 | 384x384 | 256x256</comment>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </logo>
                        <theme_color>
                            <label>Theme Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate> <!-- This is important -->
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </theme_color>
                        <background_color>
                            <label>Background Color</label>
                            <frontend_type>text</frontend_type>
                            <validate>color</validate> <!-- This is important -->
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                        </background_color>
                    </fields>
                </manifest>
                <cache_api>
                    <label>Api Cache Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </enable>
                        <storeview_api>
                            <label>Merchant Api</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                            <comment></comment>
                        </storeview_api>
                        <simicart_api>
                            <label>Simicart Config Api</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>20</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable>1</enable>
                            </depends>
                            <comment></comment>
                        </simicart_api>
                        <!--<home_api>-->
                            <!--<label>Homepage Api</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<sort_order>5</sort_order>-->
                            <!--<source_model>simipwa/system_homepage</source_model>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                            <!--<depends>-->
                                <!--<enable>1</enable>-->
                            <!--</depends>-->
                            <!--<comment></comment>-->
                        <!--</home_api>-->
                        <action>
                            <label>Action</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>simipwa/adminhtml_system_config_form_syncApi</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                                If change config , Please click Refresh Cache Api after Save
                            </comment>
                        </action>
                    </fields>
                </cache_api>
            </groups>
        </simipwa>
    </sections>
</config>